.movieRow--area {
    overflow-x: hidden;
    padding-left: 30px;
    background-color: #282c34;
    padding-top: 30px;
    padding-bottom: 30px;
}

.movieRow--item {
    display: inline-block;
    width: 250px;

}

.movieRow--item img {
    height: 375px;
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
    cursor: pointer;
}

.movieRow--item img:hover {
    transform: scale(1);
}

.loading {
    height: 500px;
    width: 80%;
    transform: scale(0.1);
}